* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#landingCarousel {
  position: static;
  width: 100%;
  top: 0;
  background: #333;
  height: 100vh;
  transform: translateY(-70px);
}

#landingCarousel img {
  max-height: 100vh;
  opacity: 0.9;
  height: 100vh;
  object-fit: cover;
}

.card-body {
  padding: 25px;
}
